
/* New Edits -Home Page*/
body{
    padding: 0%;
    margin: 0%;
    background: linear-gradient(135deg, #0023C4 0%, #FF5CF4 100%);
  
}
#home-body{
  
  overflow: hidden;
}
  
#home-tap{
  background-color: rgba(255, 255, 255, 0.001);
  backdrop-filter: blur(5px); 
  -webkit-backdrop-filter: blur(10px); 

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: fixed; 
  z-index: auto;
  height: 30px;
  width: 100%;
  padding-top: 11px;
  text-align: center;
  display: block;
  /* margin-bottom: 500px; */
  
}

#tap-links{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif ;
    transition: 0.3s;
    /* margin: 0 10px; */
}

.tap-link:hover {
  color: #acbbed;
}
h1{
   font-size: 50px; 
   margin-left: 30px;
}
#exam-intro{
    color: aliceblue;
    margin-left: 30px;
    font-size:large;

}
.exam-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 100px;
  flex-wrap: wrap; 
  overflow: hidden; 
}

.home-img {
  width: 50%;          
  height: auto;
  background-size: cover;
  border-radius: 10px;
  max-width: 100%; 
  margin-left: 380px;
}

.start-btn {
  background-color: #FF80F7;
  color: white;
  padding: 15px 35px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 28px;
  font-family: 'Times New Roman', Times, serif;
  transition: 0.3s;
  margin-left: 100px;
}

.start-btn:hover {
  background-color: #FF5CF4;
}


/* Profile Edits */

#profile-img{
  width: 400px;
  margin-top: 36%;
  margin-left: 70%;
}