
/* New Edits -Home Page*/
body{
    padding: 0%;
    margin: 0%;
    background: linear-gradient(135deg, #0023C4 0%, #FF5CF4 100%);
    height: 1000px;
    
  
}
#home-body{
  
  overflow: hidden;
}
  

h1{
   font-size: 50px; 
   margin-left: 30px;
   text-shadow: 2px 2px 6px rgba(0,0,0,0.8); 
}
#exam-intro{
    color: aliceblue;
    margin-left: 30px;
    font-size:large;

}
.exam-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 100px;
  flex-wrap: wrap; 
  overflow: hidden; 
}

.home-img {
  width: 50%;          
  height: auto;
  background-size: cover;
  border-radius: 10px;
  max-width: 100%; 
  margin-left: 330px;
}

.start-btn {
  background-color: #FF80F7;
  color: white;
  padding: 15px 35px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 28px;
  font-family: 'Times New Roman', Times, serif;
  transition: 0.3s;
  margin-left: 100px;
}

.start-btn:hover {
  background-color: #FF5CF4;
}


/* Profile Edits */

#profile-img{
  width: 400px;
  margin-top: 36%;
  margin-left: 70%;
}

#result{
  color: aliceblue;
}
#Max-score{
  
  
  

      color: #FFD4FA;
      font-size: 25px;
      margin-left: 550px ;
      border: 3px solid #fff;
      padding: 10px 20px;
      border-radius: 15px;
      display: inline-block;
      background: rgba(255,255,255,0.1);
      backdrop-filter: blur(10px);

}